$color-parimary: #ff6801;
$color-secondary: #f6f6ef;
$color-white: #ffffff;
body {
  margin: 0 auto;
  font-family: Roboto;
  background-color: $color-secondary;
}
#app {
  margin: 0;
}
header {
  background-color: #555555;
  color: $color-white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.newsList {
  width: 100%;
  border-collapse: collapse;
  border: none;
  thead {
    background-color: $color-parimary;
    color: $color-white;
  }
  tbody,
  thead {
    td,
    th {
      padding: 5px;
    }
  }
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
.even {
  background-color: $color-secondary;
}
.odd {
  background-color: #e5e6df;
}
.pagination {
  float: right;
  padding: 10px;
  button {
    margin: 0 10px;
    color: $color-parimary;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
  }
  span {
    color: $color-parimary;
  }
}
